<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://static.vinepair.com/wp-content/uploads/2016/05/fresh-herb-cocktails-2.jpg)">
</div>

<div class="navbar-lewagon">
  <div class="navbar-lewagon-actions">
    <%= link_to "Back to all cocktails", cocktails_path, class: "btn-ghost" %>
  </div>
</div>

<div class="container text-center">
  <div class="card-header">
    <h1>Submit a new cocktail</h1>
  </div>
  <div class="card-product text-center"">
    <%= simple_form_for [@cocktail] do |f| %>
      <%= f.input :name %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden, class: "btn btn-ghost" %>
      <%= f.submit "Add cocktail", class: "btn btn-ghost" %>
    <% end %>
  </div>
</div>













